body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ffffff;
}
p {
  margin: 0;
}
hr {
  margin: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: 0.3s;
}

/* HEADER */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-header {
  padding: 28px 0px 26px 0px;
}

.announcement-bar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  overflow: hidden;
  background-color: #08080a;
  color: #ffffff;
  position: relative;
}

.announcement-title {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 16px;
  padding-right: 2px;
  height: 100%;
  background-color: #08080a;
  z-index: 10;
  flex-shrink: 0;
  font-size: 11px;
  white-space: nowrap;
}

.announcement-divider {
  color: #bebebe;
  font-weight: 500;
}

.announcement-wrapper {
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
}

.announcement-track {
  display: flex;
  width: max-content;
  align-items: center;
  animation: announcement-scroll 30s linear infinite;
}

.announcement-item {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  padding: 0 34px;
  font-size: 11px;
  white-space: nowrap;
}

@keyframes announcement-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.bar-mobile-text {
  display: none;
}

.bar-desktop-text {
  display: inline;
}

/* HERO */

.hero {
  display: flex;
  width: 100%;
}

.hero-left {
  flex: 1;
  background-color: #e8f2e4;
  flex: 0 0 50%;
}
.hero-left img {
  width: 100%;
  height: 100%;
  max-height: 839px;
}
.hero-right {
  flex: 1;
  padding: clamp(29px, 5vw, 72px) clamp(20px, 8.5vw, 185px)
    clamp(20px, 4.5vw, 64px) clamp(20px, 8.5vw, 120px);
}
.hero-title {
  font-size: clamp(36px, 4.86vw, 70px);
  font-weight: 600;
  line-height: 1.4;
  margin: 0;
  margin-bottom: 20px;
}
.hero-description {
  font-size: clamp(18px, 1.53vw, 22px);
  margin-bottom: 11px;
  font-family: "Poppins", sans-serif;
}

.description-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 40px;
  margin-top: 24px;
}
.description-list div {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #f1f7ef;
  padding-top: clamp(18px, 1.1vw, 16px);
  padding-bottom: clamp(18px, 1.1vw, 16px);
  padding-left: clamp(14px, 1.25vw, 24px);
  border-radius: 10px;
  max-width: 662px;
  width: 100%;
}

.description-list p {
  font-size: clamp(16px, 1.39vw, 20px);
  font-family: "Roboto", sans-serif;
}

.hero button {
  background-color: #154b3e;
  border-radius: 10px;
  padding: 10px 30px;
  box-shadow: 0 1.15px 2.09px -452px rgba(16, 137, 61, 0.0305),
    0 5.05px 4.32px -452px rgba(16, 137, 61, 0.0495);
  color: #ffffff;
  max-width: 351px;
  width: 100%;
  font-size: 22px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.rating {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 26px;
}

.rating-logo {
  width: clamp(37px, 3.75vw, 54px);
  height: clamp(37px, 3.6vw, 52px);
  flex-shrink: 0;
}

.rating-info {
  display: flex;
  flex-direction: column;
}

.rating-stars-row {
  display: flex;
  align-items: center;
  gap: 6px;
}

.rating-title {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
}

.rating-number {
  font-size: 20px;
  color: #000;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.rating-score {
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

/* PATIENT REVIEWS SECTION */
.patient-reviews {
  background-color: #f5f9f6;
  padding: clamp(40px, 5vw, 74px) clamp(20px, 10vw, 206px) 40px
    clamp(20px, 10vw, 206px);
}

.patient-reviews h2 {
  font-family: "Poppins", sans-serif;
  font-size: clamp(24px, 3.75vw, 54px);
  margin-bottom: 29px;
  font-weight: 500;
}

.patient-reviews .green-text {
  color: #008935;
}

/* TRACK & CARDS CONTAINER */
.reviews-slider-wrapper {
  position: relative;
  width: 100%;
}

.reviews-track {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  padding-bottom: 10px;

  scrollbar-width: none;
}

.reviews-track::-webkit-scrollbar {
  display: none;
}

/* REVIEW CARD */
.review-card {
  flex: 0 0 calc((100% - 60px) / 4);
  scroll-snap-align: start;
  background-color: #ffffff;
  padding: 66px 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.03);
}

.patient-name {
  color: #08080a;
  font-weight: 500;
  font-size: clamp(15px, 1.25vw, 18px);
  font-family: "Poppins", sans-serif;
  margin-bottom: 2px;
}

.review-card .data {
  font-family: "Roboto", sans-serif;
  color: #616975;
  font-size: clamp(12px, 0.9vw, 14px);
  margin-bottom: 11px;
}

.review-text {
  font-weight: 500;
  font-size: clamp(15px, 1vw, 18px);
  line-height: 1.4;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  margin-bottom: 24px;
  width: 100%;
  max-width: 284px;
}

/* VERIFICATION BADGE */
.verification {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.verification-text {
  font-size: 13px;
  color: #616975;
  font-family: "Roboto", sans-serif;
}

/* NAVIGATION & CONTROLS */
.slider-controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 24px;
  margin-top: 32px;
}

.slider-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.slider-dots {
  display: flex;
  align-items: center;
  gap: 18px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #9fbb96;
  transition: all 0.3s ease;
}

.dot.active {
  background-color: #008935;
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {
  .review-card {
    flex: 0 0 calc((100% - 20px) / 2);
  }
}
@media (max-width: 1024px) {
  .hero {
    flex-direction: column-reverse;
  }
  .hero-left {
    width: 100%;
  }
  .hero-left {
    width: calc(100% - 40px);
    margin: 0 20px;
    border-radius: 10px;
    overflow: hidden;
  }

  .hero-left img {
    width: 100%;
    height: auto;
    display: block;
  }
  .hero-right {
    padding: clamp(29px, 5vw, 72px) clamp(20px, 5vw, 120px);
  }
}
@media (max-width: 768px) {
  .bar-desktop-text {
    display: none;
  }

  .bar-mobile-text {
    display: inline;
  }
  .hero-left img {
    height: auto;
    max-height: 450px;
    object-fit: contain;
  }

  .hero-title {
    font-size: 32px;
    line-height: 1.2;
  }

  .hero-description {
    font-size: 18px;
  }

  .description-list p {
    font-size: 16px;
  }

  .rating-title,
  .rating-number {
    font-size: 16px;
  }

  .rating-score {
    font-size: 15px;
  }

  .patient-reviews {
    text-align: center;
  }
  .review-card {
    flex: 0 0 100%;
  }
}

@media (max-width: 480px) {
  .hero-left img {
    height: auto;
    max-height: 286px;
  }
  .rating-title,
  .rating-number {
    font-size: 12px;
  }
  .rating-stars svg {
    width: 13px;
    height: 13px;
  }
}

/* WORK STEPS SECTION */
.work-steps {
  background-color: #e8f2e4;
  margin: 80px 35px 100px 35px;
  /* padding: 68px 194px 86px 208px; */
  padding: 68px 0px;
  border-radius: 24px;
}

.work-steps-title {
  text-align: center;
  margin-bottom: clamp(32px, 5vw, 56px);
}

.work-steps-subtitle {
  font-size: clamp(18px, 1.7vw, 24px);
  font-weight: 500;
  color: #08080a;
  margin-bottom: 3px;
}

.main-text {
  font-family: "Poppins", sans-serif;
  font-size: clamp(36px, 3.5vw, 52px);
  font-weight: 600;
  color: #08080a;
  margin: 0;
}

.green-text {
  color: #008935;
}

/* CARDS GRID */
.work-steps-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: clamp(24px, 2.5vw, 35px);
}

.step-card {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 0px 14.08px 276.3px 0px rgba(0, 137, 53, 0.1);
  border-radius: 24px;
  padding: 50px clamp(20px, 5.7vw, 82px) 0px clamp(20px, 5.7vw, 82px);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 500px;
  height: 100%;
  overflow: visible;
}

.step-card-number {
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translateX(-50%);
  width: 43px;
  height: 43px;
  background-color: #008935;
  color: #ffffff;
  border-radius: 50%;
  font-family: "Poppins", sans-serif;
  font-size: clamp(16px, 2.1vw, 27px);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.step-card-title {
  font-size: clamp(20px, 2.7vw, 32px);
  font-weight: 500;
  line-height: 1.4;
  color: #08080a;
  margin-bottom: 30px;
  margin-top: 25px;
}

.image-container {
  width: 100%;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  line-height: 0;
  overflow: hidden;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.step-card-img {
  max-width: 100%;
  height: auto;
  max-height: 260px;
  object-fit: contain;
  object-position: bottom;
  display: block;
}

@media (max-width: 768px) {
  .step-card {
    max-height: 290px;
  }
}
